:root{
    --ig-primary-blue: #67b6fa;
    --ig-primary-white: #ffffff;
    --ig-background-gray: #fafafa;
    --ig-border-gray: #dbdbdb;
   }

body{
    background-color: var(--ig-background-gray);
}

.flex-container {
    display: flex;
    justify-content: center;
}

.instagram-login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    width: 350px;
    border: var(--ig-border-gray);
    border-width: 1px;
    border-style: solid;
}

.instagram-login > div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.insta-logo {
    justify-content: center;
    align-items: center;
}

.insta-logo > img {
    width: 175px;
    cursor: pointer;
}

.inputs > input {
    background-color: var(--ig-background-gray);
    border: var(--ig-border-gray);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: -5px;
    border-radius: 5px;
}

.inputs > button {
    background-color: var(--ig-primary-blue);
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    color: white;
}
