:root{
    --ig-primary-blue: #67b6fa;
    --ig-primary-white: #ffffff;
    --ig-background-gray: #fafafa;
    --ig-border-gray: #dbdbdb;
    --or-font-color: #8e8e8e;
    --facebook-blue: #385185;
   }

body{
    background-color: var(--ig-background-gray);
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 55px;
    gap: 20px;
}

#instagram-phone {
    display: block !important;
}

.ig-phone {
    width: 450px;
}

.instagram-login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    width: 300px;
    background-color: var(--ig-primary-white);
    border: var(--ig-border-gray);
    border-width: 1px;
    border-style: solid;
}

.instagram-login > div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.insta-logo {
    justify-content: center;
    align-items: center;
}

.insta-logo > img {
    width: 175px;
    cursor: pointer;
}

.inputs > input {
    background-color: var(--ig-background-gray);
    border: 1px solid var(--ig-border-gray);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: -5px;
    border-radius: 5px;
}

.inputs > button {
    background-color: var(--ig-primary-blue);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: -20px;
    border: none;
    color: white;
}

.instagram-login > .or-row{
    color: var(--or-font-color);
    flex-direction: row;
}

.or-row > h3 {
    margin: 0px;
}

.or-row > hr{
    border: -6 solid var(--or-font-color);
    width: 50%;
    height: 1px;
    background-color: var(--or-font-color);
}

.fb-row{
    cursor: pointer;
}

.instagram-login >.fb-row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--facebook-blue);
    margin: -15px;
    padding-right: 25px;
}

.fb-row > img {
    width: 20px;
    height: 20px;
}

.instagram-login > .forgot-pass{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;
    color: var(--facebook-blue);
    cursor: pointer;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
}

footer > div {
    flex-direction: row;
    margin: 8px;
    font-size: 77%;
    color: var(--or-font-color);
    cursor: pointer;
}

footer > div:hover {
    text-decoration: underline;
}

.second {
    margin-top: 0;
}